# --- Archivos de Sistema (Windows/Mac) ---
Thumbs.db
Desktop.ini
.DS_Store

# --- VS Code (Configuraciones locales) ---
# Ignoramos la carpeta .vscode completa, excepto los archivos importantes
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
# Si no quieres compartir tus settings personales, comenta la siguiente linea:
!.vscode/settings.json

# --- Compilación C / C++ ---
*.exe
*.o
*.obj
*.out
*.dll

# --- Compilación Pascal ---
*.ppu
*.o
*.ali
*.a
*.apk
ppas.bat
link.res
fp.cfg
fp.ini

# --- Archivos temporales de ejecución ---
tempCodeRunnerFile*